.content{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3em;
    justify-content: center;
}

/*----- navigation bar :-moz-ui-invalid
*/
nav {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    align-self: flex-end;
    
}

video{
    justify-self: center;
    margin-top: 2em;
}
#email{
   padding: 1em;
    outline: none;
    width: 400px;
    height: 30px;
    margin-bottom: 20px;
}
#submit{
    background: yellow;
    border: none;
    padding: .9em;
    cursor: pointer;
    border-radius: 10%;
}
#email:hover{
    border: 1px solid blue;
}
.content{
    position: relative;
    top: 20px;
}